.rs-table *,
.rs-table :before,
.rs-table :after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: var(--border);
}
.rs-table :before,
:after {
	--tw-content: '';
}
.rs-table,
.rs-table :host {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
	font-feature-settings: normal;
	font-variation-settings: normal;
	-webkit-tap-highlight-color: transparent;
}
.rs-table small {
	font-size: 80%;
}
.rs-table sub,
.rs-table sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
.rs-table sub {
	bottom: -0.25em;
}
.rs-table sup {
	top: -0.5em;
}
.rs-input,
.rs-optgroup,
.rs-select {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}
.rs-select {
	text-transform: none;
}
.rs-table :-moz-focusring {
	outline: auto;
}
.rs-table :-moz-ui-invalid {
	box-shadow: none;
}
.rs-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.rs-table :disabled {
	cursor: default;
}
.rs-table {
	--border: #d4d4d8;
	--text-primary: #27272a;
	--text-secondary: #71717a;
	--text-inverted: var(--bg-background);
	--text-dark: var(--text-primary);
	--bg-content: #ffffff;
	--bg-header: #f5f5f5;
	--bg-background: #fafafa;
	--bg-hover: var(--bg-header);
	--bg-hover-light: var(--bg-background);
	--shadow: var(--border);
}
.rs-table.dark {
	--border: #45454a;
	--text-primary: #eaeaec;
	--text-secondary: #a8a8b3;
	--text-inverted: var(--text-primary);
	--text-dark: #27272a;
	--bg-content: var(--text-dark);
	--bg-header: #313135;
	--bg-background: #3b3b40;
	--bg-hover: var(--bg-header);
	--bg-hover-light: var(--bg-background);
	--shadow: var(--border);
	color-scheme: dark;
}
input,
textarea,
select {
	background-color: var(--bg-content);
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.-right-\[3px\] {
	right: -3px;
}
.left-1\/2 {
	left: 50%;
}
.top-0 {
	top: 0;
}
.top-1\/2 {
	top: 50%;
}
.z-10 {
	z-index: 10;
}
.col-span-1 {
	grid-column: span 1 / span 1;
}
.-mr-\[1px\] {
	margin-right: -1px;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-3 {
	margin-bottom: 0.75rem;
}
.ml-0 {
	margin-left: 0;
}
.ml-0\.5 {
	margin-left: 0.125rem;
}
.ml-1 {
	margin-left: 0.25rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.ml-4 {
	margin-left: 1rem;
}
.ml-\[17px\] {
	margin-left: 17px;
}
.ml-auto {
	margin-left: auto;
}
.mr-1 {
	margin-right: 0.25rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mt-8 {
	margin-top: 2rem;
}
.line-clamp-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.line-clamp-4 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}
.line-clamp-5 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.table {
	display: table;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.aspect-\[3\/2\] {
	aspect-ratio: 3/2;
}
.h-12 {
	height: 3rem;
}
.h-16 {
	height: 4rem;
}
.h-2 {
	height: 0.5rem;
}
.h-2\.5 {
	height: 0.625rem;
}
.h-3 {
	height: 0.75rem;
}
.h-3\.5 {
	height: 0.875rem;
}
.h-32 {
	height: 8rem;
}
.h-4 {
	height: 1rem;
}
.h-48 {
	height: 12rem;
}
.h-6 {
	height: 1.5rem;
}
.h-8 {
	height: 2rem;
}
.h-\[calc\(100\%-48px\)\] {
	height: calc(100% - 48px);
}
.h-\[calc\(100\%-65px\)\] {
	height: calc(100% - 65px);
}
.h-full {
	height: 100%;
}
.max-h-48 {
	max-height: 12rem;
}
.max-h-8 {
	max-height: 2rem;
}
.min-h-full {
	min-height: 100%;
}
.w-16 {
	width: 4rem;
}
.w-2 {
	width: 0.5rem;
}
.w-2\.5 {
	width: 0.625rem;
}
.w-20 {
	width: 5rem;
}
.w-28 {
	width: 7rem;
}
.w-3 {
	width: 0.75rem;
}
.w-32 {
	width: 8rem;
}
.w-36 {
	width: 9rem;
}
.w-4 {
	width: 1rem;
}
.w-48 {
	width: 12rem;
}
.w-5\/6 {
	width: 83.333333%;
}
.w-56 {
	width: 14rem;
}
.w-6 {
	width: 1.5rem;
}
.w-7 {
	width: 1.75rem;
}
.w-\[5px\] {
	width: 5px;
}
.w-full {
	width: 100%;
}
.w-max {
	width: -moz-max-content;
	width: max-content;
}
.w-px {
	width: 1px;
}
.min-w-full {
	min-width: 100%;
}
.max-w-5xl {
	max-width: 64rem;
}
.max-w-full {
	max-width: 100%;
}
.flex-shrink-0,
.shrink-0 {
	flex-shrink: 0;
}
.flex-grow,
.grow {
	flex-grow: 1;
}
.-translate-x-1\/2 {
	--tw-translate-x: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
		skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
	--tw-translate-y: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
		skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.translate-x-3 {
	--tw-translate-x: 0.75rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
		skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.transform {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
		skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.cursor-default {
	cursor: default;
}
.cursor-ew-resize {
	cursor: ew-resize;
}
.cursor-pointer {
	cursor: pointer;
}
.resize-none {
	resize: none;
}
.resize {
	resize: both;
}
.grid-cols-7 {
	grid-template-columns: repeat(7, minmax(0, 1fr));
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.items-center {
	align-items: center;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.gap-1 {
	gap: 0.25rem;
}
.gap-px {
	gap: 1px;
}
.gap-x-1 {
	-moz-column-gap: 0.25rem;
	column-gap: 0.25rem;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.5rem * var(--tw-space-x-reverse));
	margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.self-center {
	align-self: center;
}
.self-stretch {
	align-self: stretch;
}
.overflow-auto {
	overflow: auto;
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.text-ellipsis {
	text-overflow: ellipsis;
}
.whitespace-nowrap {
	white-space: nowrap;
}
.break-words {
	overflow-wrap: break-word;
}
.rounded {
	border-radius: 0.25rem;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-md {
	border-radius: 0.375rem;
}
.rounded-sm {
	border-radius: 0.125rem;
}
.rounded-b-md {
	border-bottom-right-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
.rounded-l {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.rounded-r {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.rounded-t-md {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
}
.border {
	border-width: 1px;
}
.border-b {
	border-bottom-width: 1px;
}
.border-l {
	border-left-width: 1px;
}
.border-r {
	border-right-width: 1px;
}
.border-none {
	border-style: none;
}
.border-black\/10 {
	border-color: #0000001a;
}
.bg-background {
	background-color: var(--bg-background);
}
.bg-blue-200 {
	--tw-bg-opacity: 1;
	background-color: rgb(191 219 254 / var(--tw-bg-opacity));
}
.bg-blue-500 {
	--tw-bg-opacity: 1;
	background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.bg-blue-500\/30 {
	background-color: #3b82f64d;
}
.bg-blue-500\/50 {
	background-color: #3b82f680;
}
.bg-content {
	background-color: var(--bg-content);
}
.bg-gray-200 {
	--tw-bg-opacity: 1;
	background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.bg-green-200 {
	--tw-bg-opacity: 1;
	background-color: rgb(187 247 208 / var(--tw-bg-opacity));
}
.bg-green-500 {
	--tw-bg-opacity: 1;
	background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}
.bg-header {
	background-color: var(--bg-header);
}
.bg-hover {
	background-color: var(--bg-hover);
}
.bg-indigo-200 {
	--tw-bg-opacity: 1;
	background-color: rgb(199 210 254 / var(--tw-bg-opacity));
}
.bg-orange-200 {
	--tw-bg-opacity: 1;
	background-color: rgb(254 215 170 / var(--tw-bg-opacity));
}
.bg-purple-200 {
	--tw-bg-opacity: 1;
	background-color: rgb(233 213 255 / var(--tw-bg-opacity));
}
.bg-transparent {
	background-color: transparent;
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-zinc-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(244 244 245 / var(--tw-bg-opacity));
}
.p-0 {
	padding: 0;
}
.p-0\.5 {
	padding: 0.125rem;
}
.p-1 {
	padding: 0.25rem;
}
.p-1\.5 {
	padding: 0.375rem;
}
.p-\[1px\] {
	padding: 1px;
}
.p-\[3px\] {
	padding: 3px;
}
.px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.px-1\.5 {
	padding-left: 0.375rem;
	padding-right: 0.375rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}
.pl-2 {
	padding-left: 0.5rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.font-medium {
	font-weight: 500;
}
.font-normal {
	font-weight: 400;
}
.font-thin {
	font-weight: 100;
}
.uppercase {
	text-transform: uppercase;
}
.tracking-wider {
	letter-spacing: 0.05em;
}
.text-dark {
	color: var(--text-dark);
}
.text-inverted {
	color: var(--text-inverted);
}
.text-primary {
	color: var(--text-primary);
}
.text-secondary {
	color: var(--text-secondary);
}
.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
		0 2px 4px -2px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline {
	outline-style: solid;
}
.outline-1 {
	outline-width: 1px;
}
.outline-black\/10 {
	outline-color: #0000001a;
}
.outline-slate-300 {
	outline-color: #cbd5e1;
}
.ring-2 {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
		var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
		calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
		var(--tw-shadow, 0 0 #0000);
}
.ring-blue-500 {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
}
.blur {
	--tw-blur: blur(8px);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
		var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
		var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
		var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
		var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow,
		transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow,
		transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow,
		transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.duration-100 {
	transition-duration: 0.1s;
}
.duration-200 {
	transition-duration: 0.2s;
}
.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.background-clip {
	-webkit-mask-image: radial-gradient(
		100% 100% at top right,
		white,
		transparent
	);
	clip-image: radial-gradient(100% 100% at top right, white, transparent);
}
.scrollbar-track {
	background-color: transparent !important;
}
.scrollbar-thumb {
	background-color: #0006 !important;
}
.scrollbar-thumb:hover {
	background-color: #0009 !important;
}
.scrollbar-thumb-y {
	left: auto !important;
	right: 4px !important;
}
.scrollbar-thumb-x {
	top: auto !important;
	bottom: 4px !important;
}
.after\:absolute:after {
	content: var(--tw-content);
	position: absolute;
}
.after\:left-0:after {
	content: var(--tw-content);
	left: 0;
}
.after\:left-1\/2:after {
	content: var(--tw-content);
	left: 50%;
}
.after\:top-1\/2:after {
	content: var(--tw-content);
	top: 50%;
}
.after\:h-3:after {
	content: var(--tw-content);
	height: 0.75rem;
}
.after\:h-3\.5:after {
	content: var(--tw-content);
	height: 0.875rem;
}
.after\:w-3:after {
	content: var(--tw-content);
	width: 0.75rem;
}
.after\:w-3\.5:after {
	content: var(--tw-content);
	width: 0.875rem;
}
.after\:-translate-x-1\/2:after {
	content: var(--tw-content);
	--tw-translate-x: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
		skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.after\:-translate-y-1\/2:after {
	content: var(--tw-content);
	--tw-translate-y: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
		skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.after\:translate-x-2:after {
	content: var(--tw-content);
	--tw-translate-x: 0.5rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
		skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.after\:translate-x-2\.5:after {
	content: var(--tw-content);
	--tw-translate-x: 0.625rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
		skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.after\:rounded-full:after {
	content: var(--tw-content);
	border-radius: 9999px;
}
.after\:border:after {
	content: var(--tw-content);
	border-width: 1px;
}
.after\:bg-white:after {
	content: var(--tw-content);
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.after\:text-xs:after {
	content: var(--tw-content);
	font-size: 0.75rem;
	line-height: 1rem;
}
.after\:text-inverted:after {
	content: var(--tw-content);
	color: var(--text-inverted);
}
.after\:shadow-sm:after {
	content: var(--tw-content);
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.after\:duration-100:after {
	content: var(--tw-content);
	transition-duration: 0.1s;
}
.after\:content-\[\'✓\'\]:after {
	--tw-content: '✓';
	content: var(--tw-content);
}
.first\:col-start-1:first-child {
	grid-column-start: 1;
}
.first\:col-start-2:first-child {
	grid-column-start: 2;
}
.first\:col-start-3:first-child {
	grid-column-start: 3;
}
.first\:col-start-4:first-child {
	grid-column-start: 4;
}
.first\:col-start-5:first-child {
	grid-column-start: 5;
}
.first\:col-start-6:first-child {
	grid-column-start: 6;
}
.first\:col-start-7:first-child {
	grid-column-start: 7;
}
.last\:hidden:last-child {
	display: none;
}
.last\:border-none:last-child {
	border-style: none;
}
.hover\:cursor-pointer:hover {
	cursor: pointer;
}
.hover\:bg-blue-500:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.hover\:bg-blue-500\/30:hover {
	background-color: #3b82f64d;
}
.hover\:bg-hover:hover {
	background-color: var(--bg-hover);
}
.hover\:bg-hover-light:hover {
	background-color: var(--bg-hover-light);
}
.hover\:ring-2:hover {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
		var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
		calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
		var(--tw-shadow, 0 0 #0000);
}
.hover\:ring-inset:hover {
	--tw-ring-inset: inset;
}
.hover\:ring-black\/10:hover {
	--tw-ring-color: rgb(0 0 0 / 0.1);
}
.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.focus\:ring:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
		var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
		calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
		var(--tw-shadow, 0 0 #0000);
}
.group:hover .group-hover\:block {
	display: block;
}
